body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(30,30,30,0.9);
    color: white;
    padding: 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#menu input[type=range], #menu select {
    width: 100px;
}