body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 10px;
}

#toolbar {
    margin: 10px;
}

canvas {
    width: 90vw;
    height: 60vh;
    border: 1px solid #ccc;
}