body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #202025;
    color: #fff;
}

#menu {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(20,20,20,0.9);
    border-radius: 6px;
    z-index: 10;
}

#menu button {
    display: block;
    margin: 2px;
}

#menuContent.hidden {
    display: none;
}

#sculptTools {
    margin-top: 5px;
}

#menuContent input, #menuContent select {
    margin: 2px;
    width: 100%;
}

#cameraLockContainer {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(20,20,20,0.9);
    padding: 5px;
    border-radius: 6px;
    z-index: 10;
}